/* 重写富文本内容样式 */
.richtext-content {
  h1 {
    text-align: center;
  }

  @for $i from 1 through 4 {
    h#{$i} {
      margin: #{(4 - $i) * 4}px 0;
    }
  }

  > p {
    word-break: break-all;
  }

  img {
    margin: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 8px;
      border: 1px solid #ccc;
    }

    th {
      text-align: left;
      font-weight: 600;
    }
  }
}